* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
/*----------- NavBar Responsive--------------- */
.navbar-brand {
  font-size: 2rem;
  color: #76d300;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  display: inline;
  font-size: 20px;
  font-weight: bold;
}
.nav-link img {
  width: 40px;
}
.search {
  height: 40px;
  width: 80%;
  border-radius: 50px;
  outline: none;
  border: 2px solid #76d300;
}

.btn0 {
  height: 40px;
  width: 20%;
  outline: none;
  border: none;
  background-color: #76d300;
  color: white;
  border-radius: 60px;
  font-weight: 700;
}
.btn0:hover {
  background: #cbff6af1;
}
.main {
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100%;
}
.main h1 {
  color: #76d300;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 15rem;
}
.main p {
  color: #ffff;
  font-size: 24px;
}
.main .btn1 {
  padding: 15px 40px;
  outline: none;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #76d300;
  border-radius: 5px;
}
.main .btn1:hover {
  background-color: #cbff6af1;
}

.navbar-toggler-icon i {
  align-items: center;
  margin-top: 7px;
}
/* SECTION CARDS */

.section {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23463f51' fill-opacity='0.77'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.section h2 {
  color: #76d300;
}

/* ------------CARDS-------------- */
.card {
  margin-top: 20px;
  background: #eeeeee;
}
.card-body h5 {
  text-transform: capitalize;
  font-weight: bold;
  color: #76d300;
}
.card-body p {
  font-size: 18px;
  font-weight: 500;
}
.card-body a {
  text-decoration: none;
  color: #ffffff;
  background: #76d300;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
}
.card-body a:hover {
  background: #cbff6af1;
}
.list-group-flush {
  background: rgba(0, 0, 0, 0.171);
}

.list-group-flush .list-group-item {
  background: #eeeeee;
}
.list-group-flush a {
  font-weight: bold;
}

/* Carrito */

.table tbody td {
  font-weight: bold;
  text-transform: capitalize;
}
.table tbody td a {
  font-size: 25px;
  align-items: center;
  color: red;
}
.table tbody td a:hover {
  color: rgba(255, 0, 0, 0.459);
}

/* Cargando  */

#cargando {
  width: 140px;
  display: none;
}

/* Icon whatsapp */

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55;
  color: #fff;
  background: #0df053;
  text-align: center;
  border-radius: 50px;
  font-size: 35px;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
  border: none;
}

.whatsapp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

/* ------------------FOOOTERRR------------------- */

.footer {
  background-color: #000000ce;
  min-height: 30vh;
  margin-top: 200px;
}
.footer a {
  color: #eeeeee;
  transition: all 0.5s ease;
}
.footer a:hover {
  color: #eeeeee9d;
}
